.title-word {
  animation: color-animation 2s linear infinite;
}
.title-letter-1 {
  --color-1: #00bdff;
  --color-2: black;
  --color-3: #fba800;
}

.title-letter-2 {
  --color-1: #00bdff;
  --color-2: black;
  --color-3: #fba800;
}

.title-letter-3 {
  --color-1: #00bdff;
  --color-2: black;
  --color-3: #fba800;
}

.title-letter-4 {
  --color-1: #00bdff;
  --color-2: black;
  --color-3: #fba800;
}
.title-letter-5{
  --color-1: #00bdff;
  --color-2: black;
  --color-3: #fba800;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}