


.index_header{
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
      background-image: linear-gradient(45deg, #f8f200, #ffef00, #ff9d00, #dc0f0f);
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-3deg); }
  5% { transform: skewX(3deg); }
  10% { transform: skewX(-3deg); }
  15% { transform: skewX(3deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}